@define-color rosewater #f2d5cf;
@define-color flamingo #eebebe;
@define-color pink #f4b8e4;
@define-color mauve #ca9ee6;
@define-color red #e78284;
@define-color maroon #ea999c;
@define-color peach #ef9f76;
@define-color yellow #e5c890;
@define-color green #a6d189;
@define-color teal #81c8be;
@define-color sky #99d1db;
@define-color sapphire #85c1dc;
@define-color blue #8caaee;
@define-color lavender #babbf1;
@define-color text #c6d0f5;
@define-color subtext1 #b5bfe2;
@define-color subtext0 #a5adce;
@define-color overlay2 #949cbb;
@define-color overlay1 #838ba7;
@define-color overlay0 #737994;
@define-color surface2 #626880;
@define-color surface1 #51576d;
@define-color surface0 #414559;
@define-color base #303446;
@define-color mantle #292c3c;
@define-color crust #232634;

@define-color base alpha(#000000, 0.1);
/* @define-color surface alpha(@lavender, 0.15); */
@define-color surface alpha(#000000, 0.5);
@define-color text #cdd6f4;
@define-color hoverBg alpha(@blue, 1);
@define-color hoverFg #000000;

/* @define-color activeBg alpha(@mauve, 1); */

@define-color activeFg alpha(@blue, 1);
@define-color shadow alpha(@blue, 0.25);

* {
  all: unset;
  font-size: 1rem;
  font-family: "0xProto Nerd Font", "JetBrainsMonoNerdFont", "Font Awesome",
    "Roboto", "Helvetica", "Arial", sans-serif;
  background-clip: border-box;
}

button {
  min-width: 32px;
  min-height: 32px;
  border-radius: 999px;
  color: @text;
  /* box-shadow: 0px 0px 8px 4px @shadow inset; */
  transition: all 50ms cubic-bezier(0.55, 0, 0.28, 1.682),
    /* box-shadow 50ms ease-in-out, */ background-color 200ms ease-in-out;
}

button:hover {
  color: @hoverFg;
  background: @hoverBg;
}

button.active {
  color: @activeFg;
  background: @activeBg;
}

tooltip {
  opacity: 1;
}
/* span { */
/*   background-color: #ff0000; */
/* } */

window#waybar.empty #window {
  background-color: transparent;
}

#window {
  margin-right: 0px;
}

#workspaces,
#custom-appmenu,
#quicklinks,
#media,
#hardware,
#clock,
#custom-notification,
#custom-exit,
#network,
#tray,
#window {
  background-color: @surface;
  border-radius: 999px;
  /* box-shadow: 0px 0px 8px 4px @shadow inset; */
  /* 좌우짤림 방지 */
  padding: 0 0.5rem;
  color: @text;
  font: inherit;
  font-size: 1rem;
  transition: all 50ms cubic-bezier(0.55, 0, 0.28, 1.682);
  /* box-shadow 50ms ease-in-out, */
}

#media,
#hardware,
#clock {
  padding: 0 0.5rem;
}

#custom-quicklink1,
#custom-quicklink2,
#custom-quicklink3,
#custom-quicklink4,
#custom-quicklink5,
#custom-quicklink6,
#custom-quicklink7,
#custom-quicklink8,
#custom-quicklink9,
#custom-quicklink10 {
  font-size: 2rem;
  margin: 0 0.5rem;
  padding: 0 0.5rem;
}
#custom-quicklink1 {
  /* margin-left: 0; */
}

#cpu,
#memory,
#disk,
#temperature {
  /* padding-right: 1.5rem; */
  font-size: 1rem;
  padding: 0 0.5rem;
}

#custom-appmenu,
#custom-notification,
#group-network,
#custom-exit,
#bluetooth,
#network {
  font-size: 1.5rem;
  min-width: 32px;
  min-height: 32px;
  border-radius: 999px;
}

#workspaces button {
  margin-right: 0px;
}
#workspaces button:last-child {
  margin-right: 0;
}

#taskbar {
  font-weight: normal;
  font-style: normal;
}

@keyframes blink {
  to {
    background-color: @activeBg;
  }
}

#battery.critical:not(.charging) {
  background-color: @activeBg;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @activeBg;
}

label:focus {
  background-color: @activeBg;
}

#backlight {
  background-color: @activeBg;
}

#temperature.critical {
  color: red;
}

#tray menu {
  background-color: black;
  border-radius: 8px;
  opacity: 0.8;
  border: white 1px solid;
  padding: 8px;
  margin: 8 8px;
}

#tray menu menuitem {
  padding-top: 3px;
  padding-bottom: 3px;

  font-size: 22px;
}
